body {
    background: var(--sectionLightGrey);
}

.nav {
    background: var(--lightGrey);
    transition: var(--fastTransition);
    display: block;
    position: fixed;
    width: 100%;
    z-index: 10;
    box-shadow: -8px 10px 25px -5px rgba(0, 0, 0, 0.75);
}

/* news */
.news-info {
    padding: 7rem 0 2rem 0;
    background: var(--sectionDarkGrey);
}

.news-container {
    padding: 1rem;
    margin: 0 auto;
}

.news-intro {
    font-size: 1.1rem;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}

.news-intro::first-letter {
    color: var(--mainBlue);
    font-weight: bold;
    padding-left: 1.5rem;
}

.news-subscription {
    background: var(--mainWhite);
    padding: 2rem 1rem;
    border-radius: 5rem;
    max-width: 500px;
    margin: 0 auto;
    border: 5px outset var(--lightBlue);
}

.news-form {
    display: grid;
    grid-template-columns: 50vw 30vw;
    justify-content: center;
    position: relative;
}

.news-email-input {
    background: var(--mainWhite);
    border: 2px solid var(--darkBlue);
    padding: 0.7rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    font-size: 1rem;
    outline: none;
}

.subscribe-submit {
    padding: 0.7rem;
    border: 2px solid var(--darkBlue);
    border-left: none;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background: var(--lightBlue);
    cursor: pointer;
    font-size: 1rem;
    outline: none;
    transition: var(--mainTransition);
}

.subscribe-submit:hover {
    background: var(--darkBlue);
    color: var(--lightBlue);
}

.news-email-error {
    position: absolute;
    border-radius: 2rem;
    background: darkred;
    color: white;
    padding: 0.5rem 0.7rem;
    top: -100%;
    opacity: 0.75;
    display: none;
}

@media screen and (min-width:562px) {
    .news-container {
        width: 80%;
    }

    .news-form {
        display: flex;
        justify-content: center;
    }

    .news-intro {
        max-width: 1000px;
        font-size: 1.4rem;
    }

    .news-email-input {
        font-size: 1.2rem;
    }

    .subscribe-submit {
        font-size: 1.2rem;
    }
}

.news-body {
    padding-bottom: 3rem;
    background: var(--sectionLightGrey);
}

.news-body-container {
    padding: 1rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1.5rem;

}

.single-news {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    background: var(--lightGrey);
    border-radius: 3rem;
    margin: 0 auto;
    border: 2px outset var(--darkBlue);
    transition: var(--mainTransition);
}

.single-news {
    overflow: hidden;
}

.single-news-photo {
    width: 100%;
    height: 100%;
}

.single-news-body {
    padding: 1rem 1rem 2rem 1rem;
    width: 95%;
}

.single-news-info {
    padding: 1rem 0;
    padding-top: 0;
}

.single-news-icon {
    color: var(--mainBlue);
    font-size: 1.2rem;
}

.single-news-title {
    color: var(--darkBlue);
    text-transform: capitalize;
}

.single-news-author,
.single-news-date {
    text-transform: capitalize;
    padding: 0.7rem;
    padding-bottom: 0;
    color: var(--mainBlack);
}

.single-new-parag::first-letter {
    padding-left: 1.5rem;
}

.single-news-more {
    background: var(--lightBlue);
    padding: 0.7rem;
    border-radius: 3rem;
    float: right;
    margin-top: 1rem;
    color: var(--darkBlue);
    cursor: pointer;
    border: 2px solid var(--darkBlue);
    transition: var(--fastTransition);
    text-transform: capitalize;

}

.single-news-more:hover {
    background: var(--darkBlue);
    color: var(--lightBlue);
    border: 2px solid var(--lightBlue);
}

.single-news:hover {
    background: var(--mainWhite);
    border-color: var(--lightBlue);
}

@media screen and (min-width:648px) {
    .news-body-container {
        width: 80%;
    }

    .single-news {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }

}