/* Global Variables */
:root {
  --mainBlack: #222;
  --secondaryBlack: #15171f;
  --mainWhite: #f5f3f5;
  --secondaryWhite: #fff;
  --lightGrey: #c9c9c9;
  --darkGrey: #575757;
  --mainBlue: #002262;
  --darkBlue: #03243e;
  --lightBlue: #29d5f3;
  --mainRed: #7b0d1eff;
  --mainYellow: #ffc914;

  --sectionBlack: #191919;
  --sectionWhite: #f7f7f7;
  --sectionLightGrey: #e4e4e4;
  --sectionDarkGrey: #afafaf;

  --quickTransition: all 0.3s ease-in-out;
  --fastTransition: all 0.6s ease-in-out;
  --mainTransition: all 1s ease-in-out;
  --slowTransition: all 2s ease-in-out;
  --longTransition: all 4s ease-in-out;

  --mainFont: 'Audiowide', cursive;
  --titleFont: 'Playfair Display', serif;
  --bodyFont: 'Roboto', sans-serif;

  --mainSpacing: 4px;
  --mainHeight: 1.5;
}

/* Reset */
*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: var(--mainFont);
}

h2,
h3,
h4,
h5,
h6 {
  font-family: var(--titleFont);
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* body */
body {
  font-family: var(--bodyFont);
  background: var(--sectionWhite);
}

/* title */
.title {
  padding: 2rem;
}

.title-container {
  display: flex;
  align-items: center;
}

.title-icon {
  font-size: 3.5rem;
  color: var(--lightBlue);
}

.title-text {
  font-size: 2.5rem;
  margin-left: 0.5rem;
  padding: 0 0.5rem;
  text-transform: capitalize;
  border-left: 4px solid var(--mainBlue);

}

.title-underline {
  margin: 0.4rem 0;
  width: 75px;
  border-radius: 4px;
  border: 2px solid var(--mainBlue);
  background: var(--mainBlue);
  transition: var(--slowTransition);
}

.title:hover .title-underline {
  width: 300px;
  border-color: var(--mainYellow);
  background: var(--mainYellow);
}

/* end title */
/* white button */
.white-btn {
  padding: 0.6rem;
  color: var(--mainBlack);
  background: var(--mainWhite);
  border: 2px solid var(--mainWhite);
  font-size: 1.3rem;
  border-radius: 0.5rem;
  transition: var(--fastTransition);
  text-transform: uppercase;
}

.white-btn:hover {
  color: var(--mainWhite);
  background: var(--mainBlack);
}

/* end of white button */
/* black button */
.black-btn {
  padding: 0.6rem;
  color: var(--mainWhite);
  background: var(--mainBlack);
  border: 2px solid var(--mainBlack);
  font-size: 1.3rem;
  border-radius: 0.5rem;
  transition: var(--fastTransition);
  text-transform: uppercase;
}

.black-btn:hover {
  color: var(--mainBlack);
  background: var(--mainWhite);
}

/* end of black button */
/* nav */
.nav {
  display: none;
  background: var(--lightGrey);
  transition: var(--fastTransition);
}

.nav-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
  padding: 0 1rem;
}

.nav-top-logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav-logo-text {
  font-family: var(--mainFont);
  padding: 0 0.75rem;
  color: var(--mainBlue);
  font-size: 1.6rem;
  letter-spacing: var(--mainSpacing);
}

.nav-logo {
  width: 60px;
}

.nav-toggle {
  font-size: 2.2rem;
  color: var(--mainBlue);
  cursor: pointer;
  transition: var(--fastTransition);
}

.nav-toggle:hover {
  transform: scale(1.2);
  color: var(--darkBlue);
}

.nav-links {
  display: none;
  background: var(--mainBlack);
  margin: 0.25rem;
  margin-top: 0;
  padding: 0.75rem;
  text-align: center;
}

.nav-link {
  padding: 1rem 0;
}

.nav-link a {
  color: var(--mainWhite);
  transition: var(--fastTransition);
  letter-spacing: var(--mainSpacing);
  font-size: 1.2rem;
}

.nav-link a:hover {
  color: var(--lightBlue);
}

@media screen and (min-width:992px) {
  .nav-top {
    padding: 0 1.5rem;
  }

  .nav-toggle {
    display: none;
  }

  .nav-logo {
    width: 70px;
  }

  .nav-logo-text {
    font-size: 1.8rem;
  }

  .nav-center {
    display: flex;
  }

  .nav-top {
    flex: 0 0 auto;
  }

  .nav-links {
    flex: 1 0 auto;
    background: transparent;
    display: flex !important;
    max-height: 88px !important;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0;
    padding: 0 3rem;
    align-self: center;
  }

  .nav-link {
    flex: 1 0 100px;
  }

  .nav-link a {
    color: var(--mainBlue);
    padding: 1rem 0rem;
    margin: 0;
    display: block;
  }

  .nav-link a:hover {
    background: var(--mainWhite);
    color: var(--mainBlack);
  }
}

/* Fixed nav */
.fixed-nav {
  display: block;
  position: fixed;
  width: 100%;
  z-index: 10;
  box-shadow: -8px 10px 25px -5px rgba(0, 0, 0, 0.75);
}

/* end of nav */
/* Header */
.header {
  min-height: 100vh;
  text-align: center;
  background: linear-gradient(rgba(120, 120, 120, 0.5), rgba(200, 200, 200, 0.3)),
    url(../img/hero-bg.jpg)center/cover no-repeat;
}

/* hero */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

.hero-img {
  width: 70vw;
}

.hero-title {
  margin-top: 10vh;
  font-size: 3rem;
  color: var(--mainWhite);
  letter-spacing: var(--mainSpacing);
}

.hero-text {
  font-size: 1.5rem;
  padding: 1rem;
  text-transform: capitalize;
  color: var(--mainWhite);
  letter-spacing: var(--mainSpacing);
  margin-bottom: 4rem;
}

.hero-btn {
  background: var(--secondaryWhite);
  font-size: 1.8rem;
  padding: 1rem;
  color: var(--mainBlue);
  transition: var(--mainTransition);
  border: 3px solid var(--secondaryWhite);
  border-radius: 10px;
}

.hero-btn:hover {
  background: var(--mainBlue);
  border-color: var(--mainWhite);
  color: var(--mainWhite);
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.7);
}

@media screen and (min-width:576px) {
  .header {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(255, 255, 255, 0.4)),
      url(../img/hero-bg.jpg)center/cover no-repeat;
  }

  .hero {
    flex-direction: row-reverse;
    padding: 3rem;
  }

  .hero-img {
    width: 40vw;
  }

  .hero-title {
    margin-top: 15vh;
    font-size: 5rem;
  }

  .hero-text {
    font-size: 2.2rem;
    margin-bottom: 5rem;
  }

  .hero-btn {
    font-size: 2.5rem;
  }
}

@media screen and (min-width:1026px) {
  .header {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(255, 255, 255, 0.4)),
      url(../img/hero-bg.jpg)center/cover no-repeat fixed;
  }
}

@media screen and (max-height: 500px) {
  .hero {
    flex-direction: row-reverse;
  }

  .hero-img {
    width: 30vw;
  }

}

/* end of hero */
/* end of Header */
/* News */
.news {
  background: var(--sectionWhite);
  background: var(--sectionLightGrey);
  clip-path: polygon(0 0, 100% 0, 100% 94%, 0 100%);
  padding: 0;
  padding-top: 1rem;
  overflow: hidden;
}

.news-slides {
  display: flex;
  flex-wrap: nowrap;
  width: 200%;
}

.animate-news {
  animation: slideShow 5s infinite;
}

@keyframes slideShow {

  0% {
    transform: translateX(0%);
  }

  35% {
    transform: translateX(0%);
  }

  50% {
    transform: translateX(-50%);
  }

  85% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0%);
  }
}

.news-slide {
  margin: 0 auto;
  width: 95vw;

  background: var(--mainBlue);
  display: flex;
  border-radius: 20px;
  overflow: hidden;
}

.news-slide-img {
  /* background: url(../img/city-line.jpg) center/cover no-repeat; */
  min-height: 70vh;
  flex: 0 0 50%;
  clip-path: polygon(0 0, 100% 0, 65% 100%, 0 100%);
}

.news-slide-detail {
  min-height: 70vh;
  align-items: center;
  display: flex;
  color: var(--mainWhite);
  padding: 40px 0;
  flex: 0 0 50%;
  justify-content: center;
}

.news-slide-detail-center {
  width: 90%;
  margin: 0 auto;
}

.news-slide-header {
  text-transform: capitalize;
  font-size: 1.1rem;
}

.news-slide-text {
  font-size: 0.7rem;
  margin: 2rem 0;
  line-height: 1.5;
  max-width: 90%;
  color: var(--lightGrey);
}

@media screen and (min-width: 776px) {
  .news-slide-detail {
    flex: 0 0 40%;
  }

  .news-slide-img {
    flex: 0 0 60%;
    clip-path: polygon(0 0, 100% 0, 60% 100%, 0 100%);
  }

  .news-slide-header {
    font-size: 1.8rem;
    margin-left: -2rem;
  }

  .news-slide-text {
    line-height: 2;
  }

  .news-slide-text {
    font-size: 1rem;
  }

}

/* news images */
.no-news-img {
  background: url(../img/news.jpg) center/cover no-repeat;
}

.website-ready-img {
  background: url(../img/city-line.jpg) center/cover no-repeat;
}

/* end of News */
/* news letter subscribe */
.news-letter-sub {
  min-height: 50vh;
  background: linear-gradient(rgba(0, 0, 0, 0.55),
      rgba(0, 0, 0, 0.55)),
    url(../img/dots-blue.jpg) center/cover no-repeat;
  clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  padding: 1.5rem 0;
}

.news-letter-container {
  padding: 1rem;
}

.news-letter-form {
  display: flex;
  flex-wrap: wrap;
}

.news-letter-title {
  text-align: center;
  color: var(--mainWhite);
  margin: 0;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-family: var(--mainFont);
  text-transform: uppercase;
}

.news-letter-email {
  border: none;
  background: transparent;
  outline: none;
  border-bottom: 3px solid var(--mainWhite);
  font-size: 2rem;
  margin: 0.5rem 0.7rem;
  max-width: 85vw;
}

.news-letter-email::placeholder {
  color: var(--mainWhite);
  text-transform: capitalize;
}

.news-letter-submit {
  display: inline-block;
  background: transparent;
  border: 3px solid var(--mainWhite);
  outline: none;
  padding: 0.6rem 1.2rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: var(--mainWhite);
  margin: 0.5rem 0.7rem;
  transition: var(--mainTransition);
}

.news-letter-submit:hover {
  background: var(--mainWhite);
  color: var(--mainBlack);
  border-color: var(--mainWhite);
}

@media screen and (min-width: 1026px) {
  .news-letter-sub {
    background: linear-gradient(rgba(0, 0, 0, 0.55),
        rgba(0, 0, 0, 0.55)),
      url(../img/dots-blue.jpg) center/cover fixed no-repeat;
  }

  .news-letter-title {
    font-size: 3rem;
  }
}

/* end of news letter subscribe */

/* services */
.services {
  background: var(--sectionWhite);
}

.services-container {
  margin-top: 3rem;
  background: var(--sectionBlack);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
  padding-bottom: 5rem;
}

.service {
  flex: 0 0 70%;
  background: grey;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 1rem;
  overflow: hidden;
  background: var(--mainWhite);
  margin: 1.6rem 0;
}

.service-img {
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

.service-photo {
  width: 100%;
  transition: var(--slowTransition);
}

.service-eye {
  font-size: 3.5rem;
  color: var(--mainYellow);
  border: 5px solid var(--mainYellow);
  border-radius: 50%;
  padding: 0.25rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: var(--slowTransition);
}

.service-detail {
  padding: 2rem 1rem;
  text-transform: capitalize;
  font-size: 1.2rem;
}

.service-detail a {
  color: var(--mainBlack);
}

.service:hover .service-photo {
  transform: scale(1.2);
  opacity: 0.7;
}

.service:hover .service-eye {
  opacity: 1;
}

.services-btn {
  position: absolute;
  bottom: 1.4rem;
}

@media screen and (min-width: 512px) {
  .service {
    flex: 0 0 calc(50% - 2rem);
  }

  .service-detail {
    font-size: 1.5rem;
  }

  .service-eye {
    font-size: 5rem;
    padding: 0.5rem;
  }
}

@media screen and (min-width: 992px) {
  .service {
    flex: 0 0 calc(calc(100% / 3) - 3rem);
    transform: translateY(-60%);
    margin-bottom: -5rem;
  }

  .services-container {
    margin-top: 15rem;
    padding-bottom: 0;
  }

  .service-detail {
    font-size: 1.8rem;
  }

  .services-btn {
    font-size: 2rem;
    bottom: 2rem;
  }
}

/* end of services */
/* skills */
.skills {
  background: var(--sectionDarkGrey);
  padding: 1rem 0 4rem 0;
}

.skills-container {
  margin: 0 auto;
  max-width: 95vw;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.skill {
  padding: 1.5rem 1rem;
  margin: 1rem;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
  transition: var(--fastTransition);
}

.skill-white {
  background: var(--mainWhite);
  color: var(--mainBlue);
}

.skill-black {
  background: var(--mainBlack);
  color: var(--lightBlue);
}

.skill-logo {
  text-align: center;
  transition: var(--slowTransition);
}

.skill-icon {
  font-size: 5rem;
}

.skill-title {
  margin-top: 1rem;
  font-size: 2rem;
  text-transform: uppercase;
  font-family: var(--bodyFont);
}

.skill-detail {
  transition: var(--slowTransition);
  position: absolute;
  bottom: -15rem;
  width: 90%;
  margin: 0 auto;
}

.skill-subtitle {
  font-family: var(--bodyFont);
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.skill-text {
  color: var(--darkGrey);
  margin-bottom: 4rem;
  font-size: 0.9rem;
}

.skill-black .skill-text {
  color: var(--lightGrey);
}

.skill .white-btn,
.skill .black-btn {
  position: absolute;
  font-size: 1rem;
  right: 1rem;
  bottom: 1rem;
  padding: 0.4rem;
}

.skill:hover {
  box-shadow: 3px 7px 3px rgba(120, 120, 120, 0.5);
}

.skill:hover .skill-logo {
  transform: translateY(-15rem);
}

.skill:hover .skill-detail {
  bottom: 0;
}

.skills-container .skill:nth-of-type(1) {
  order: 1;
}

@media screen and (min-width: 752px) {
  .skills-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

}

@media screen and (min-width: 992px) {
  .skills-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .skills-container .skill:nth-of-type(1) {
    order: 1;
  }

  .skills-container .skill:nth-of-type(6) {
    order: 2;
  }
}

/* end of skills */
/* status */
.status {
  background: var(--mainWhite);
  background: var(--mainBlue);
}

.status-container {
  /* width: 90vw; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0 auto;
}

.single-status {
  flex: 0 0 calc(100% / 3);
  text-align: center;
  padding: 2rem 3rem;
  color: var(--mainWhite);
  transition: var(--mainTransition);
}

.status-icon {
  font-size: 3rem;
}

.status-numbers {
  font-family: var(--mainFont);
  font-size: 2rem;
  padding: 1.2rem 0;
  transition: var(--mainTransition);

}

.status-title {
  font-size: 1.8rem;
  font-family: var(--mainFont);
  text-transform: capitalize;
}

.single-status:hover {
  background: var(--lightBlue);
  color: var(--mainBlack);
}

.single-status:hover .status-numbers {
  transform: scale(1.2);
  color: var(--mainBlack);
}

@media screen and (min-width:752px) {
  .status-container {
    flex-direction: row;
  }

  .status-title {
    font-size: 2rem;
  }
}

/* end of status */
/* projects */
.projects {
  background: var(--sectionWhite);
  background: var(--mainYellow);
}

.projects .title {
  padding-top: 3rem;
}

.projects .title:hover .title-underline {
  border-color: var(--lightBlue);
  background: var(--lightBlue);
}

.project {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  color: var(--mainWhite);
  overflow: hidden;
  margin: 0.15rem;
  display: flex;
}

.project-photo {
  max-width: 100%;
  transition: var(--slowTransition);
  flex: 1 0 auto;
}

.project-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  text-align: center;
  opacity: 0;
  color: var(--mainWhite);
  transition: var(--slowTransition);
}

.project-detail {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 1rem;
  font-size: 0.5rem;
  opacity: 0;
  color: var(--mainYellow);
  transition: var(--slowTransition);
}

.project-icon {
  color: var(--mainYellow);
  margin-right: 0.5rem;
  transition: var(--fastTransition);
}

.project-title {
  font-size: 0.9rem;
  margin-bottom: 0.7rem;
}

.project-subtitle {
  font-size: 0.8rem;
}

.project:hover .project-photo {
  opacity: 0.4;
  transform: scale(1.3);
}

.project:hover .project-text,
.project:hover .project-detail {
  opacity: 1;
}

.project-icon:hover {
  transform: translateY(-0.4rem);
}

.projects-container {
  margin: 0 auto;
  display: grid;
  max-height: 110vh;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-template-areas:
    "i1 i1 i2"
    "i1 i1 i4"
    "i6 i7 i7"
    "i6 i5 i5"
    "i8 i5 i5"
    "i9 i9 i10"
    "i3 i3 i3";
}

.project-1 {
  grid-area: i1;
}

.project-2 {
  grid-area: i2;

}

.project-3 {
  grid-area: i3;

}

.project-4 {
  grid-area: i4;

}

.project-5 {
  grid-area: i5;
}

.project-6 {
  grid-area: i6;
}

.project-7 {
  grid-area: i7;
}

.project-8 {
  grid-area: i8;
}

.project-9 {
  grid-area: i9;

}

.project-10 {
  grid-area: i10;
}


@media screen and (min-width: 752px) {
  .project-detail {
    font-size: 1.3rem;
  }

  .project-title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .project-subtitle {
    font-size: 1.2rem;
  }

}

@media screen and (min-width: 992px) {
  .projects-container {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "i1 i1 i2 i3 i3"
      "i1 i1 i4 i5 i5"
      "i6 i7 i7 i5 i5"
      "i6 i8 i9 i9 i10";
  }
}


.projects-btn {
  background: var(--sectionDarkGrey);
  margin: 5rem auto 2rem auto;
  text-align: center;

}

.projects .black-btn {
  padding: 1rem;
}

/* end of projects */
/* support */
.support {
  background: var(--sectionWhite);
}

.support-center {
  display: flex;
  justify-content: center;
}

.support-btn {
  margin: 2rem 1rem;
  margin-top: 1rem;
  background: var(--mainBlue);
  font-size: 0.9rem;
  color: var(--lightBlue);
  transition: var(--mainTransition);
  outline: none;
  text-transform: capitalize;
}

.support-btn-left {
  padding: 1rem 2rem 1rem 3rem;
  clip-path: polygon(100% 0%, 90% 50%, 100% 100%, 25% 100%, 15% 50%, 25% 0%);
}

.support-btn-right {
  padding: 1rem 3rem 1rem 2rem;

  clip-path: polygon(75% 0%, 90% 50%, 75% 100%, 0% 100%, 10% 50%, 0% 0%);
}

.support-btn:hover {
  background: var(--lightBlue);
  color: var(--mainBlack);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}

@media screen and (min-width: 992px) {
  .support-btn {
    margin: 2rem;
    font-size: 1.8rem;
    margin-top: -1rem;
  }

  .copyright {
    font-size: 1.5rem;
  }
}

/* end of support */
/* footer */
.footer {
  background: var(--sectionBlack);
  color: var(--mainWhite);
  text-align: center;
  padding: 2rem;
}

.footer-links,
.footer-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
  flex-wrap: wrap;
}

.footer-link {
  color: var(--mainWhite);
  text-transform: capitalize;
  font-size: 1.1rem;
  margin-right: 1rem;
  letter-spacing: var(--mainSpacing);
  transition: var(--mainTransition);
}

.footer-link:hover {
  color: var(--lightBlue);
}

.footer-icon {
  font-size: 1.9rem;
  margin-right: 1.5rem;
  color: var(--mainWhite);
  transition: var(--mainTransition);
}

.footer-icon:hover {
  color: var(--lightBlue);
  transform: translateY(-10%);
}

.copyright {
  font-family: var(--mainFont);
  text-transform: capitalize;
  font-size: 0.8rem;
  letter-spacing: var(--mainSpacing);
}

@media screen and (min-width: 572px) {
  .copyright {
    font-size: 1.5rem;
  }

  .chat-box-pop-tooltip {
    font-size: 1rem;
    padding: 0.5rem;
    width: 150px;
  }

  .chat-box-pop {
    padding: 1rem;
    bottom: 7%;
    right: 5%;
  }

  .chat-box-pop-icon {
    font-size: 2rem;
  }
}

/* end of footer */
/* chat box pop up */
.chat-box-pop {
  position: fixed;
  background: var(--mainYellow);
  padding: 0.7rem;
  border-radius: 5rem;
  border: 3px solid var(--mainBlack);
  z-index: 500;
  bottom: 7%;
  right: 7%;
  opacity: 0.8;
  transition: var(--fastTransition);
  animation: pulse 2s infinite;
}

.chat-box-pop-icon {
  font-size: 1.6rem;
  color: var(--mainBlue);
}

.chat-box-pop-tooltip {
  text-transform: capitalize;
  position: absolute;
  background: var(--mainBlack);
  padding: 0.3rem;
  width: 100px;
  text-align: center;
  border-radius: 1rem;
  transform: translate(-40%, 60%);
  color: var(--mainWhite);
  transition: var(--quickTransition);
  visibility: hidden;
  border: 1px solid var(--mainWhite);
  font-size: 0.7rem;
}

.chat-box-pop:hover {
  opacity: 1;
}

.chat-box-pop:hover .chat-box-pop-tooltip {
  visibility: visible;
}

@keyframes pulse {
  50% {
    transform: scale(1.1);
  }
}
@media screen and (min-width: 786px) {
  .chat-box-pop-tooltip {
    font-size: 1rem;
    padding: 0.5rem;
    width: 150px;
  }

  .chat-box-pop {
    padding: 1rem;
    bottom: 7%;
    right: 5%;
  }

  .chat-box-pop-icon {
    font-size: 2rem;
  }
}
/* end of chat box pop up */